@mixin setTypeColor($bg-code, $shadow) {
  background: $bg-code;
  box-shadow: 0 0 20px $shadow;
}

@mixin setBackgroundColor($color-code) {
  background-color: $color-code;
  color: white;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.pokeball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 960px;
  margin: 40px auto;
  width: 90%;
  text-align: center;
  span {
    font-size: 32px;
    line-height: 42px;
    font-family: VT323, sans-serif;
  }

  .pokeball {
    animation: shaking 0.4s infinite;
  }
}

.picture {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;

  & {
    span {
      position: absolute;
      background-color: white;
      font-family: VT323, sans-serif;
      font-size: 24px;
      color: black;
      padding: 0 16px;
      top: 0;
      left: 32px;
      border-bottom-right-radius: 48px;
      border-bottom-left-radius: 48px;
      @include setTypeColor(white, black);
    }
  }
}

h1 {
  font-family: VT323, sans-serif;
  font-size: 64px;
  letter-spacing: 1px;
  line-height: 40px;
}

h2 {
  font-size: 16px;
  line-height: 16px;
  width: fit-content;
  padding: 0 5px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.title-container {
  width: max-content;
  margin: auto;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: 6px;
    transform: translate(-50%, -50%);
  }
}

.type {
  &-container {
    gap: 16px;
  }

  &-pill {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 48px;
  }
}

.data {
  &-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0 16px;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 32px);
      height: 1px;
      background-color: black;
      left: 16px;
      bottom: 0;
    }
  }

  &-line {
    display: flex;
    padding: 0 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;

    span.ability {
      display: block;
      text-align: center;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 500;

    svg {
      margin-right: 4px;
      font-size: 16px;
    }
  }
}

.stats {
  &-container {
    max-width: 960px;
  }
  &-title {
    font-size: 20px;
    font-weight: 500;
    svg {
      margin-right: 4px;
      font-size: 16px;
    }
  }

  &-row {
    padding: 6px 0;
  }
}

.bug {
  @include setTypeColor(#92bc2c, #92bc2c);
}

.dark {
  @include setTypeColor(#595761, #595761);
}

.dragon {
  @include setTypeColor(#0c69c8, #0c69c8);
}

.electric {
  @include setTypeColor(#f2d94e, #f2d94e);
}

.fire {
  @include setTypeColor(#fba54c, #fba54c);
}

.fairy {
  @include setTypeColor(#ee90e6, #ee90e6);
}

.fighting {
  @include setTypeColor(#d3425f, #d3425f);
}

.flying {
  @include setTypeColor(#a1bbec, #a1bbec);
}

.ghost {
  @include setTypeColor(#5f6dbc, #5f6dbc);
}

.grass {
  @include setTypeColor(#5fbd58, #5fbd58);
}

.ground {
  @include setTypeColor(#da7c4d, #da7c4d);
}

.ice {
  @include setTypeColor(#75d0c1, #75d0c1);
}

.normal {
  @include setTypeColor(#a0a29f, #a0a29f);
}

.poison {
  @include setTypeColor(#b763cf, #b763cf);
}

.psychic {
  @include setTypeColor(#fa8581, #fa8581);
}

.rock {
  @include setTypeColor(#c9bb8a, #c9bb8a);
}

.steel {
  @include setTypeColor(#5695a3, #5695a3);
}

.water {
  @include setTypeColor(#539ddf, #539ddf);
}

// Colors
.black {
  @include setBackgroundColor(#607d8b);
}

.blue {
  @include setBackgroundColor(#81d4fa);
}

.brown {
  @include setBackgroundColor(#bcaaa4);
}

.gray {
  @include setBackgroundColor(#a6a6a6);
}

.green {
  @include setBackgroundColor(#81c784);
}

.pink {
  @include setBackgroundColor(#f8bbd0);
}

.purple {
  @include setBackgroundColor(#ad8ee7);
}

.red {
  @include setBackgroundColor(#ff8a80);
}

.white {
  @include setBackgroundColor(#d5dbe1);
}

.yellow {
  @include setBackgroundColor(#ffd600);
}

.container {
  &-black {
    background-color: #f3f8fa;
  }

  &-blue {
    background-color: #ecf9ff;
  }

  &-brown {
    background-color: #f4f4f4;
  }

  &-green {
    background-color: #eeffef;
  }
  &-pink {
    background-color: #fff7fa;
  }
  &-purple {
    background-color: #f7f2ff;
  }
  &-red {
    background-color: #fff9f9;
  }
  &-white {
    background-color: #f6f7f8;
  }
  &-yellow {
    background-color: #fffade;
  }
}
