.navbar {
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  transition: background-color 500ms ease-in, color 500ms ease-in;

  display: grid;
  grid-template-areas: 'arrow logo';
  padding: 8px 24px;

  .arrow {
    grid-area: arrow;
    font-size: 24px;
  }
  .logo {
    grid-area: logo;
    img {
      max-width: 125px;
    }
  }
}

.black {
  color: #607d8b;
}

.blue {
  color: #81d4fa;
}

.brown {
  color: #bcaaa4;
}

.gray {
  color: #a6a6a6;
}

.green {
  color: #81c784;
}

.pink {
  color: #f8bbd0;
}

.purple {
  color: #ad8ee7;
}

.red {
  color: #ff8a80;
}

.white {
  color: #d5dbe1;
}

.yellow {
  color: #ffd600;
}
