:host {
  display: flex;
  justify-content: center;
}

.card {
  width: 16rem;
  --bs-card-border-radius: 4px;

  &-title {
    font-family: VT323, sans-serif;
  }

  &-link {
    text-decoration: none;
  }
}
